table {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 40px;

}

tr{
    border: 1px solid black;
    border-collapse: collapse;
    height: 40px;
}

.selected{
    background-color: rosybrown;
}

.unselected{
    background-color: antiquewhite;

}

.red {
    position: relative;
    background-color: red;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 15px;
    padding: 4px;

}
.yellow {
    position: relative;
    background-color: yellow;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 15px;
    padding: 4px;

}
.brown {
    position: relative;
    background-color: brown;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border-radius: 15px;
    padding: 4px;

}